:root {
  --boxShadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
  --border-50: 1px solid #ecf2fe;
  --border-100: 1px solid #d3d8e1;
  --borderRadius: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
